body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin: auto;
}

.revou {
    color: #45a049;
}

.calculator-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.calculator, .result {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reset {
    background-color: #f44336;
}

button:hover {
    background-color: #45a049;
}

.reset:hover {
    background-color: #cb1c10;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
